html {
 overflow-y: scroll;
}

body, html {
 background: #f8f8f3 url(bg.png) repeat-x;
}

body {
 color: #444;
 font: 9pt/1.5 "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
}

body.white, html.white {
 background: white;
 text-align: left;
}

#main {
 width: 700px;
 background-color: white;
 margin: 0 auto 0 auto;
 padding: 25px 25px;
}

a {
 outline: none;
}

a:link, a:visited {
 color: #ae4f0c;
}

h3 {
 margin-bottom: 0;
 font-size: 14px;
}

h4 {
 font-size: 12px;
 margin-bottom: 0;
}

hr {
 display: block;
 height: 1px;
 border-left: none;
 border-right: none;
 border-top: 1px solid #ababab;
 border-bottom: none;
}

table {
 border-collapse: collapse;
 margin-left: auto;
 margin-right: auto;
}

td {
 padding: 3px 6px;
 vertical-align: top;
}

td.notop {
 padding-top: 0;
}

textarea,input {
 color: #444;
 font: 9pt/1.5 "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
}

.inactive {
 color: #999;
}

.head {
 text-align: right;
 font-weight: bold;
}

.head2 {
 text-align: left;
 padding-top: 10px;
 padding-left: 100px;
 font-weight: bold;
}

.head3 {
 text-align: left;
 font-weight: bold;
}

input[type=text] {
 padding: 2px 1px 2px 1px;
 margin: 0;
}

textarea {
 padding-left: 1px;
 padding-right: 1px;
}

input[type="submit"] {
 font: 9pt/1.5 "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
}

tr.d0 {
 background-color: #f8f8f3;
}

.lead {
 border-top: 1px solid #ababab;
 padding-top: 12px;
}

td.d0 {
 background-color: #f8f8f3;
 border-left: 3px solid #fff;
 border-right: 3px solid #fff;
}

td.d1 {
 border-left: 3px solid #f8f8f3;
 border-right: 3px solid #f8f8f3;
}

td.last {
 border-bottom: 3px solid #f8f8f3;
}

td.left {
 border-left: 3px solid #f8f8f3;
}

td.right {
 border-right: 3px solid #f8f8f3;
}

table.db {
 font: 9pt/1.5 "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
}

table.wide {
 margin-top: 8px;
 margin-left: 0;
}

.submit {
 margin: 8px 0 8px 0;
 text-align: center;
}

.top {
 border-top: 1px solid #ababab;
 padding-top: 12px;
}

.admtop {
 border-top: 1px solid #ababab;
}

.admbot {
 border-bottom: 1px solid #ababab;
}

.cbox {
 vertical-align: middle;
}

.footer {
 font: 8pt/1.5 "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
 font-style: italic;
 text-align: center; 
}

.h3 {
 height: 54px;
 overflow: auto;
}

.h2 {
 height: 36px;
 overflow: auto;
}

.h12 {
 height: 216px;
 overflow: auto;
}

.w510 {
 width: 510px;
}

.w314 {
 width: 314px;
}

.w77 {
 width: 77px;
}

.w180 {
 width: 180px;
}

.w140 {
 width: 140px;
}

.w370 {
 width: 370px;
}

p.left {
 float: left;
 padding: 0;
 margin: 0;
}

p.right {
 float: right;
 padding: 0;
 margin: 0;
}

div.clear {
 clear: both;
 height: 0;
 width: 0;
 padding: 0;
 margin: 0;
}

ul {
 margin-top: 0px;
 padding-top: 6px;
 padding-left: 25px;
}

.wec, a.wec {
 color: #de2a00;
}

.free, a.free {
 color: green;
}

.credit {
 border-width: 0;
 background-color: #eee;
 text-align: center;
}