{% extends 'default.html' %}

<!-- macros -->
{% macro text(width, id, label, ph, type='text', class='u-full-width') -%}
<div class="{{width}} columns">
  <label for="{{id}}">{{label}}</label>
  <input class="{{class}}" type="{{type}}" id="{{id}}" name="{{id}}" placeholder="{{ph}}" />
</div>
{%- endmacro %}

{% macro text_required(width, id, label, ph, type='text', class='u-full-width') -%}
<div class="{{width}} columns">
  <label for="{{id}}">{{label}} *</label>
  <input class="{{class}}" type="{{type}}" id="{{id}}" name="{{id}}" placeholder="{{ph}}" required/>
</div>
{%- endmacro %}

{% macro text_required_onchange(width, id, label, ph, type='text', class='u-full-width', onchange='') -%}
<div class="{{width}} columns">
  <label for="{{id}}">{{label}} *</label>
  <input class="{{class}}" type="{{type}}" id="{{id}}" name="{{id}}" placeholder="{{ph}}" onchange="{{onchange}}" required/>
</div>
{%- endmacro %}


{% macro text_required_link(width, id, label, ph, link, type='text', class='u-full-width', onchange='') -%}
<div class="{{width}} columns">
  <label for="{{id}}"><a href="{{link}}" target="_blank">{{label}}</a>*</label>
  <input class="{{class}}" type="{{type}}" id="{{id}}" name="{{id}}" placeholder="{{ph}}" onchange="{{onchange}}" required/>
</div>
{%- endmacro %}


{% macro radio(width, id, name, label, value) -%}
<div class="{{ width }} columns">
  <input type="radio" name="{{ name }}" value="{{ value }}" id="{{ id }}" required/>
  <span class="label-body">{{ label }}</span>
</div>
{%- endmacro%}

{% macro checkbox(width, id, label, name='', onclick="") -%}
<div class="{{ width }} columns">
  <input type="checkbox" name="{{ name }}" id="{{ id }}" value="true" onclick="{{onclick}}"/>
  <span class="label-body">{{ label }}</span>
</div>
{%- endmacro%}

{% block contents %}

  <div class="row">
    <div class="six columns">
      after viewing the online
      <a href="http://www.google.com/calendar/embed?src=jbt1onapg3ffroh27umi9qm4ic%40group.calendar.google.com" target="_blank">
        lounge
      </a>
      or
      <a href="http://www.google.com/calendar/embed?src=tjsllo1pojk4tpcp40l8pinseg%40group.calendar.google.com" target="_blank">
        barbecue
      </a>
      calendar and finding an open time slot,
      complete the form below to request a reservation for the Westgate
      lounge or barbecue area.
      The reservation fee is $10/4 hours and 
      an <a href="https://mit.universitytickets.com/w/event.aspx?id=858&p=1" target="_blank" >admit One ticket purchase</a> is required prior to every reservation. (Except, events sponsored by the
      Westgate Executive Committee). 
      
      Insert 'WAIVED' and use wec mail address for WEC officier waiver. (limited to 6 entries)
      <br>
      <a href="https://yasushis.scripts.mit.edu:444/reservations/admin">admin</a>
    </div>
  </div>

<form action="/reservations/confirm" method="post">
  <div class="row">
    {{ text_required('six', id='first_name', label='first name', ph='Tim' ) }}
    {{ text_required('six', id='last_name', label='last name', ph='Beaver' ) }}
  </div>
  
  <div class="row">
    {{ text_required('eight', id='email', label='email', ph='tim@mit.edu', type='email' ) }}
    {{ text_required('four', id='apartment', label='apartment', ph='1800' ) }}
  </div>


  <div class="row"><strong>place *<strong></div>
  <div class="row">
    {{ radio('two', id='lounge', name='place', label='lounge', value='0') }}
    {{ radio('two', id='bbq', name='place', label='bbq', value='1') }}
  </div>
  
  <div class="row">
    {{ text_required('four', id='date', label='date', ph='yyyy-mm-dd', type='date') }}
    {{ text_required('four', id='starts', label='starts', ph='16:00', type='time' ) }}
    {{ text_required_onchange('four', id='ends', label='ends', ph='20:00', type='time', onchange="validateTime()" ) }}
  </div>


  <div class="row">
    {{ text_required('eight', id='event_name', label='event name', ph='Annual beaver conference') }}
    {{ text_required_link('four', id='admit_one', label='adMIT One #', ph='ABCDEF', link='https://mit.universitytickets.com/w/event.aspx?id=858&p=1', onchange="validate()" ) }}
  </div>


  <div id="status" class="row">
  </div>

  <div class="row">
    {{ checkbox('six', id='wec_event', name='is_wec_event', label='This event is sponsored by WEC.', onclick="waiveWec()")}}
    <div class="six columns">
      <input type="checkbox" name="did_agree_rules" id="agree_rules" value="true" required/>
      <span class="label-body">
        I have read and agree with the <a href="https://github.com/mit-westgate/reservations/wiki/Reservation">lounge and barbecue rules</a>,
        including the fact of a $60 fine if the place id left messy.
      </span>
    </div>
  </div>

  <div class="row"><strong>Will 100 or more guests be at this event? *<strong></div>
  <div class="row">
    {{ radio('two', id='hundred_no', name='hundred', label='No', value='0') }}
    <div class="five columns">
      <input type="radio" name="hundred" id="hundred_yes" value="1" />
      <span class="label-body">
        Yes,
        <p class="small-text">I will file all of the neccessary forms prioir to the event and
        comply with all MIT policies found on the
        <a href="http://web.mit.edu/westgate/documents/MIT Event Registration Form.pdf">
        MIT Event Registration Form
        </a>.</p>
      </span>
    </div>
  </div>

  <div class="row"><strong>Will alcoholic beverages be at this event? *<strong></div>
  <div class="row">
    {{ radio('two', id='alcohol_no', name='alcohol', label='No', value='0') }}
    <div class="five columns">
      <input type="radio" name="alcohol" id="alcohol_yes_few" value="1" />
      <span class="label-body">
        Yes, and there will be 50 or fewer guests.
        <p class="small-text">
          I will file all necessary forms and comply with all alcohol-related policies found
          on the 
          <a href="http://web.mit.edu/westgate/documents/Westgate%20Alcohol%20Registration%20Form.pdf">
            Westgate Alcohol Registration Form
          </a>.
        </p>
      </span>
    </div>
    <div class="five columns">
    <input type="radio" name="alcohol" id="alcohol_yes_more" value="2" />
      <span class="label-body">
        Yes, and there will be more than 50 guests. 
        <p class="small-text">
          I will file all necessary forms and comply with all alcohol-related policies found
          at <a href="http://web.mit.edu/eventguide/eventregulations/alcohol.html">
          Alcohol Policies and Procedures @ MIT 
          </a>
          and on the 
        <a href="http://web.mit.edu/westgate/documents/MIT Event Registration Form.pdf">
          MIT Event Registration Form
        </a>.</p>
      </span>
    </div>
  </div>
  
  <div id="error" class="row">
  </div>

  <div class="row">
    <button id="submit" class="button-primary" type="submit"> submit </button>
  </div>
</form>
<script src="static/js/helper.js"></script>

{% endblock %}
