{% extends 'default.html' %}

{% block page_title %}
Hooray!
{% endblock %}

{% block contents %}
<div class="row">
  <div class="six columns">
    {{ place }} reservation for {{ event_name }} starting from {{ start_time }} was successfully booked.
  </div>
</div>
<div class="row">
  <div class="three columns">
    <a href="https://westgate.mit.edu">back to westgate home page</a>
  </div>
  <div class="three columns">
    <a href="{{base_url}}">book another</a>
  </div>

    </div>

{% endblock %}
